body {
    font-family: 'Segoe UI', sans-serif;
    color: #000;
    background: linear-gradient(270deg, #ff009d, #8400ff, #cc4e00, #3d02ff);
    background-size: 600% 600%;
    animation: fireBackground 10s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Animación del gradiente */
@keyframes fireBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.card {
    background: #ffffff ;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 8px 20px rgb(255, 0, 221);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ff00cc;
    margin-bottom: 16px;
}

h2 {
    margin: 10px 0px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#pokemon-img{
    cursor: pointer;
}
button {
    background: #ff00cc;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    transition: background 0.3s;
}
h3 {
    text-align:left; 
    font-size:1rem; 
    font-weight:700; 
    margin:12px 0 8px;
}
button:hover {
    background: #7e0465;
}
.modal {
    display: flex;
    background: #ffffff ;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: centerl;
    width: 599px;
    overflow-y: 100%;
    transition: transform 0.3s ease;
    visibility: hidden;
    opacity: 0;
    position: fixed;
}
.modal:not(.hidden){
    visibility: visible;
    opacity: 1;
}
.modal-content{
  position: relative;
  background: #ffffff;
  max-height: 92vh;
  overflow: auto;
  border-radius: 22px;
  padding: 28px 22px 24px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: #000000;
}
#modal-img{
  width: min(280px, 90%);
  height: auto;
  margin: 8px auto 0;
  object-fit: contain;
  filter: drop-shadow(0 18px 10px rgba(0,0,0,3));
}
#close-modal{
  position: absolute;
  top: 10px; 
  right: 12px;
  width: 39px;
  height: 39px;
  display: grid;
  place-items: center;
  border-radius: 879px;
  background: transparent;
  color: #000000;
  font-size: 26px;
  cursor: pointer;
}
#close-modal:hover {
    background: #f2f3f5; 
    color: #a2a2a3; 
}
#modal-id{
  margin-top: 9px;
  color: #5e5f61;
  font-weight: 500;
  letter-spacing: 1px;
}
#modal-height, #modal-weight, #modal-abilities {
  background: #f1f3f5;
  border-radius: 9999px;
  padding: 7px 12px;
  font-size: .9rem;

}
.modal-info {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 8px 10px;                   
  text-align: left;
  
}
#modal-height {
  grid-column: 1;   
}
#modal-weight {
  grid-column: 2; 
  text-align: right;
}

#modal-abilities {
  grid-column: 1 / span 2;
}
.modal-stats{ margin-top:10px; text-align:left; }

.modal-stats .stat{
  display:grid;
  grid-template-columns:120px 1fr 40px;
  align-items:center;
  gap:8px;
  margin-bottom:8px;
  font-size:.9rem;
}
.stat {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 8px;
}

.stat-label {
    width: 100px;
    text-transform: capitalize;
}

.bar-container {
    flex-grow: 1;
    background-color: #e0e0e0;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.bar {
    height: 100%;
    background-color: #4aa9ff;
    border-radius: 5px;
}

.stat-value {
    width: 30px;
    text-align: right;
}

/* Estilo para grid de altura y peso */
.height-weight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    font-size: 14px;
}

.height-weight span {
    display: block;
}

.height-weight b {
    margin-right: 4px;
}

.type{
    padding: 4px 10px;
    border-radius: 20px;
    margin: 0px 5px;
}

.type.normal { background: #bdbdbd; color: #000; }
.type.electric { background: #f7d02c; color: #000;}
.type.fire { background: #ee8130; }
.type.ground { background: #833900; }
.type.rock { background: #e9d45f; color: #000; }
.type.water { background: #6390f0; }
.type.grass { background: #7ac74c; }
.type.bug { background: #729f3f; }
.type.flying { background: #3dc7ef; }
.type.ice { background: #9be9ff; color: #000; }
.type.poison { background: #9e0a72; }
.type.fairy { background: #ff87db; }
.type.fighting { background: #d33333; }
.type.psychic { background: #aa0080; }
.type.steel { background: #616161; }
.type.ghost { background: #313d70; }
.type.dark { background: #222222; }
.type.dragon { background: #3f23bb; }
